<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669476416798-2bc5n3qjqg57saj4mro41ruuvr98mqlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669476416798-2bc5n3qjqg57saj4mro41ruuvr98mqlk</string>
	<key>API_KEY</key>
	<string>AIzaSyAXAQghC2zL_aSedCR65CKCmtyHJrZEktw</string>
	<key>GCM_SENDER_ID</key>
	<string>669476416798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wixforum.com.registrationScreen</string>
	<key>PROJECT_ID</key>
	<string>akek-register-screen</string>
	<key>STORAGE_BUCKET</key>
	<string>akek-register-screen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669476416798:ios:f560c36b0fc84d93826d0f</string>
</dict>
</plist>